<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->
    <a class="site-title" id="header-title" rel="author" href="{{ '/' | relative_url }}">
      <span>T</span><span class="header-should-hide">hea</span> <span id="header-text-c">C</span><span
        class="header-should-hide">hoem</span><span id="header-dot" class="invisible">.</span>
    </a>

    {%- if page_paths -%}
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path
              d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z" />
          </svg>
        </span>
      </label>

      <div class="trigger">
        <a class="page-link" href="#portfolio-section">Portfolios</a>
        <a class="page-link" href="#testimonials-section">Testimonials</a>
        <a class="page-link" href="#developer-story-section">Story</a>
        <a class="page-link" href="#blogs-section">Blogs</a>

        <!-- {%- assign my_page = site.pages | where: "path", "about.md" | first -%} -->
        <!-- <a class="page-link secondary-button" href="{{ my_page.url | relative_url }}"> {{ my_page.title }}</a> -->
      </div>
    </nav>
    {%- endif -%}
  </div>
</header>

<script>
  const sections = document.getElementsByClassName("post-list-heading");

  function getPortfolioSection() {
    return document.getElementById('portfolio-section');
  }

  function getScrollMax() {
    if ('scrollMaxX' in window) {
      return window.scrollMaxY;
    } else {
      return document.documentElement.scrollHeight - document.documentElement.clientHeight;
    }
  }

  function getOffsetTop() {
    var offsetTop = 200;

    if (getPortfolioSection()) {
      offsetTop = getPortfolioSection().offsetTop;
    }

    return offsetTop;
  }

  function dynamicHeader() {
    var triggers = [
      'portfolio-section',
      'testimonials-section',
      'developer-story-section',
      'blogs-section',
    ]

    const items = document.getElementsByClassName('page-link');
    for (var i = 0; i < triggers.length; i++) {
      const id = triggers[i];
      if (!document.getElementById(id)) {
        items[i].setAttribute('href', '{{ "/" | relative_url }}' + '#' + id);
      }
    }

    var current = null;
    var lastScrollTop = 0;

    window.addEventListener("scroll", function () {
      // 1: add active to header
      var scrollMaxY = getScrollMax()

      if (scrollY >= scrollMaxY - 200) {
        current = Array.from(sections).pop().getAttribute("id")
      } else {
        for (let i = 0; i < sections.length; i++) {
          const section = sections[i];
          const sectionTop = section.offsetTop;
          if (scrollY >= sectionTop) {
            current = section.getAttribute("id");
          }
        }
      }

      for (let i = 0; i < items.length; i++) {
        const element = items[i];
        element.classList.remove('active')
        if (element.getAttribute('href').includes(current)) {
          element.classList.add('active')
        }
      }
      // 1: END

      // floating header
      var st = window.pageYOffset || document.documentElement.scrollTop; // Credits: "https://github.com/qeremy/so/blob/master/so.dom.js#L426"
      if (st > lastScrollTop && scrollY > getOffsetTop()) {
        var startOffset = (scrollY - getOffsetTop()) / 3;
        document.getElementsByClassName('site-header')[0].setAttribute('style', 'transform: translate(0px,' + '-' + (startOffset > 64 ? 64 : startOffset) + 'px);')
      } else {
        document.getElementsByClassName('site-header')[0].setAttribute('style', 'transform: translate(0px, 0px)')
      }
      lastScrollTop = st <= 0 ? 0 : st;
    })
  }

  function animatedLogo() {
    var headerShouldHide = document.getElementsByClassName("header-should-hide");
    var headerDot = document.getElementById("header-dot");
    var headerTextC = document.getElementById("header-text-c");

    window.addEventListener("scroll", function () {
      if (scrollY > getOffsetTop() - 56) {
        headerDot.classList.add("transfromed")
        headerDot.classList.remove("invisible")
        headerTextC.classList.add("transfromedC")
        for (var i = 0; i < headerShouldHide.length; i++) {
          headerShouldHide[i].classList.add("invisible");
        }
      } else {
        headerDot.classList.remove("transfromed")
        headerDot.classList.add("invisible")
        headerTextC.classList.remove("transfromedC")
        for (var i = 0; i < headerShouldHide.length; i++) {
          headerShouldHide[i].classList.remove("invisible");
        }
      }
    })
  }

  dynamicHeader();
  animatedLogo();
</script>