@import "theme";

.about {
  .summary-section,
  .github-state-section {
    display: flex;
    flex-direction: row;
    gap: $spacing-unit;
    @media screen and (max-width: $on-palm) {
      flex-direction: column;
    }
  }

  .summary-section {
    .tc-left-side {
      // profile
      img {
        border: 1px solid $grey-color-light;
      }
    }
  }

  .github-state-section {
    gap: 1px;
    * {
      outline: 1px solid $grey-color-light;
    }
    iframe {
      pointer-events: none;
    }
  }
}

.video-gallery {
  aspect-ratio: 16/9;
  border-radius: $radius;
  overflow: hidden;
  .scale-up {
    transform: scale(1.0075);
  }

  .splide__track {
    border-radius: $radius;
    overflow: hidden;
  }
}