---
layout: default
---
<div class="post-list-heading"></div>
<div class="about">
  <div class="summary-section">
    <div class="tc-left-side">
      <img src="{{ page.profile }}" alt="{{ page.profile }}">
    </div>
    <div class="tc-right-side">
      {{ page.summary }}
      <!-- <a href="{{ site.upwork_url }}" class="cl-green">Upwork.</a> -->
      {% if page.skills -%}
      <ul class="post-tags-wrapper mt1">
        {% for skill in page.skills %}
        <li class="post-tag">{{skill}}</li>
        {% endfor %}
      </ul>
      {%- endif -%}
    </div>
  </div>

  <br>
  {% include dot.md %}
  <h2 class="post-list-heading">GitHub Stats</h2>
  <a href="https://github.com/{{ site.github_username }}" target="_blank">
    <img class="mb3" width="100%" src="https://ghchart.rshah.org/{{ site.github_username }}"
      alt="{{ site.github_username }}'s Github chart" />
  </a>
  <script src="https://gist.github.com//{{ site.github_username }}/53597e7d66cb513049c016faf096439c.js"></script>
  <br>
  {{ content }}
  <br>
  {% include dot.md %}
  {% include blogs.html %}
</div>

{% if page.comments == true %}
<script src="https://utteranc.es/client.js" repo="theachoem/theachoem" issue-term="title" theme="github-light"
  crossorigin="anonymous" async>
  </script>
{% endif %}
