---
layout: default
---
<div class="post-list-heading"></div>
<div class="about">
  <div class="summary-section">
    <div class="tc-left-side">
      <img src="{{ page.profile }}" alt="{{ page.profile }}">
    </div>
    <div class="tc-right-side">
      {{ page.summary }}
      {% if page.skills -%}
      <ul class="post-tags-wrapper mt">
        {% for skill in page.skills %}
        <li class="post-tag">{{skill}}</li>
        {% endfor %}
      </ul>
      {%- endif -%}
    </div>
  </div>

  <br>
  {% include dot.md %}
  <h2 class="post-list-heading">GitHub Stats</h2>
  <a class="github-state-section mb3" href="https://github.com/{{ site.github_username }}" target="_blank">
    <iframe
      src="https://github-readme-stats.vercel.app/api?username={{ site.github_username }}&show_icons=true&include_all_commits=true&theme=buefy&hide_border=true"
      frameborder="0"></iframe>
    <iframe
      src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ site.github_username }}&layout=compact&theme=buefy&hide_border=true"
      frameborder="0"></iframe>
  </a>
  <img width="100%" class="mb2" src="https://ghchart.rshah.org/{{ site.github_username }}"
    alt="{{ site.github_username }}'s Github chart" />
  <br>
  {{ content }}
  <br>
  <div class="love-section mb">
    <img src="{{ site.url }}/{{ 'assets/images/love.jpg' }}" alt="assets/images/love.jpg'">
    <span id="days"></span> 
  </div>
  {% include dot.md %}
  {% include blogs.html %}
</div>

<script>
  function countDays() {
    const second = 1000;
    const minute = second * 60;
    const hour = minute * 60;
    const day = hour * 24;
    let date_ini = new Date(Date.parse("May 18, 2019"))
    let date_end = new Date(Date.now());
    let diff = date_end.getTime() - date_ini.getTime();
    document.getElementById('days').innerText = Math.floor(diff / day) + " Days with Seavleng ♥";
  }
  countDays()
</script>