---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<!-- {%- assign timelines = site.timelines | reverse -%} -->
{%- assign timelines = site.timelines -%}
{%- assign testimonials = site.testimonials | reverse -%}
{%- assign portfolios = site.portfolios -%}

<div class="post-list-heading"></div>
<div class="home">
  <div class="main-section">
    <div>
      <p>Hi there <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px" alt="giphy.gif">
        I'm a</p>
      <h1>{{ page.role }}</h1>
      <p>{{ page.summary }}</p>
      <!-- <a href="{{ site.upwork_url }}" class="primary-button bg-green">Upwork</a> -->
      <a href="/about" class="secondary-button mt2">About me</a>
    </div>
  </div>

  {{ content }}

  {% include dot.md %}
  <h2 id="portfolio-section" class="post-list-heading">Portfolios</h2>
  <div class="portfolios-wrapper">
    {% for portfolio in portfolios %}
    {% unless portfolio.excerpt == "true" %}
    <div class="portfolio p{{ forloop.index }}" style="background-color: #{{ portfolio.bg-color }}2E">
      <div class="img-wrapper" id="img-wrapper{{ forloop.index }}">
        <img class="ss1" src="{{ site.url }}/{{portfolio.ss1}}" alt="{{portfolio.ss1}}">
        <img class="ss2" src="{{ site.url }}/{{portfolio.ss2}}" alt="{{portfolio.ss2}}">
        {%- if portfolio.ss3 -%}
        <img class="ss3" src="{{ site.url }}/{{portfolio.ss3}}" alt="{{portfolio.ss3}}">
        {%- endif -%}
      </div>
      <div class="overlay">
        <a class="primary-button mt2" href="{{ portfolio.permalink | relative_url }}">{{portfolio.title}}</a>
      </div>
    </div>
    {%- endunless -%}
    {% endfor %}
  </div>

  <br>
  {% include section-break.md %}
  <h2 id="testimonials-section" class="post-list-heading">Testimonials</h2>
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for testimonial in testimonials %}
        <li class="splide__slide">
          <div class="testimonial-sign"></div>
          <div class="testimonial-head mb3">
            {%- if testimonial.rating -%}
            <p class="post-tag">{{testimonial.rating}} ★</p>
            {%- endif -%}
            {%- if testimonial.tag -%}
            <p class="post-tag">{{ testimonial.tags }}</p>
            {%- endif -%}
            <p>• {{ testimonial.created_at | date: date_format }}</p>
          </div>
          <span class="splide-message">{{ testimonial.content | markdownify }}</span>
          <div class="testimonial-author">
            {%- if testimonial.profile -%}
            <img src={{ testimonial.profile }} alt="{{ timeline.profile }}" />
            {%- endif -%}

            <b class="capitalize">{{ testimonial.name }}</b>

            {%- if testimonial.source_url -%}
            <a href="{{ testimonial.source_url }}" class="{{ testimonial.source }}" target="_blank"
              rel="noopener noreferrer">Source: {{ testimonial.source }}</a>
            {% else %}
            <p class="{{ testimonial.source }}">{{ testimonial.role }}</a>
              {%- endif -%}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Timelines -->
  <!-- work, education, app, volunteer -->
  <br>
  {% include section-break.md %}
  <h2 id="developer-story-section" class="post-list-heading">Developer Story</h2>
  <ul class="timelines-wrapper">
    {% for timeline in timelines %}
    <li class="timeline-container {{ timeline.type }}">
      <div class="timeline-arrow"></div>
      <div class="timeline-row">
        <img class="timeline-profile" src={{ timeline.profile }} alt="{{ timeline.profile }}" />
        <div class="timeline-body">
          <span class="timeline-date">
            {{ timeline.start | date: date_format }} - {{ timeline.end | date:
            date_format}}
          </span>
          <div class="timeline-title-type mt1">
            <h3 class="timeline-title">{{ timeline.title }}</h3>
            <p class="post-tag ml0-5">{{ timeline.type }}</p>
          </div>
          <div class="dropdown timeline-name mb1">
            <p class="dropdown-label">{{ timeline.name }}</p>
            <div class="dropdown-content">
              {%- if timeline.play_store -%}
              <a href="{{ timeline.play_store  | absolute_url }}" target="_blank">Play Store</a>
              {%- endif -%}

              {%- if timeline.app_store -%}
              <a href="{{ timeline.app_store  | absolute_url }}" target="_blank">App Store</a>
              {%- endif -%}

              {%- if timeline.github -%}
              <a href="{{ timeline.github  | absolute_url }}" target="_blank">GitHub</a>
              {%- endif -%}

              {%- if timeline.figma -%}
              <a href="{{ timeline.figma  | absolute_url }}" target="_blank">Figma</a>
              {%- endif -%}

              {%- if timeline.facebook -%}
              <a href="{{ timeline.facebook  | absolute_url }}" target="_blank">Facebook</a>
              {%- endif -%}

              {%- if timeline.website -%}
              <a href="{{ timeline.website  | absolute_url }}" target="_blank">Website</a>
              {%- endif -%}

              {%- if timeline.readmore -%}
              <a href="{{ timeline.readmore  | absolute_url }}">Read More</a>
              {%- endif -%}
            </div>
          </div>
          <span class="timeline-content">{{ timeline.content | markdownify }}</span>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <br>
  {% include dot.md %}
  {% include blogs.html %}

</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script>
  function testimonialSetup() {
    const primarySlider = new Splide('.splide', {
      type: 'fade',
      pagination: false,
      arrows: true,
      cover: false,
      drag: true,
    });
    document.addEventListener('DOMContentLoaded', function () {
      primarySlider.mount();
    });
  }

  function updateHeader() {
    document.getElementById('header-title').setAttribute('href', '#');
  }

  testimonialSetup();
  updateHeader();
</script>