---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<!-- {%- assign works = site.timelines | where:"type", "work" -%} -->
<!-- {%- assign timelines = site.timelines | where:"type", "timeline" -%} -->
{%- assign timelines = site.timelines | sort: "start" | reverse -%}

<div class="home">
  <div class="main-section">
    <div>
      <p>Hi there <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px"> I'm a</p>
      <h1>{{ page.role }}</h1>
      <p>{{ page.summary }}</p>
      <a href="/cv" class="primary-button mt2">View CV</a>
    </div>
  </div>

  {{ content }}

  <!-- Timelines -->
  <!-- <div class="timeline-divider"></div> -->
  <ul class="timelines-wrapper">
    {% for timeline in timelines %}
    <li class="timeline-container {{ timeline.type }}">
      <div class="timeline-arrow"></div>
      <div class="timeline-row">
        <img class="timeline-profile" src={{ timeline.profile }} alt="{{ timeline.profile }}">
        <div class="timeline-body">
          <span class="timeline-date">
            {{ timeline.start | date: date_format }} - {{ timeline.end | date:
            date_format}}
          </span>
          <h3 class="timeline-title">{{ timeline.title }}</h2>
            <p class="timeline-name"><a href="{{ timeline.website  | absolute_url }}" target="_blank">{{
                timeline.name }}</a></p>
            <span class="timeline-content">{{ timeline.content | markdownify }}</span>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>


  <br>
  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Blogs" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>