---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- if page.date -%}
        {{ page.date| date: date_format }}
        {% else %}
        {{ page.start_date| date: date_format }}
        {%- endif -%}
      </time>
      <span> </span>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }} </span></span>
      {%- endif -%}

      <!-- minute read counter -->
      {% capture words %}
      {{ page.content | number_of_words | minus: 180 }}
      {% endcapture %}
      {% unless words contains "-" %}
      {% assign minutes = words | plus: 180 | divided_by: 180 %}
      • {{ minutes }}
      {% if minutes == 1 %}
      {{ " minute to read" }}
      {% else %}
      {{ " minutes to read" }}
      {% endif %}
      {% endunless %}

    </p>

    {% if page.tags -%}
    <ul class="post-tags-wrapper mt2">
      {% for tag in page.tags %}
      <li class="post-tag">{{tag}}</li>
      {% endfor %}
    </ul>
    {%- endif -%}

    {% include share-buttons.html %}
  </header>


  {%- if page.cover -%}
  <img src="{{ page.cover }}" alt="image-cover" class="image-cover">
  {%- endif -%}

  {%- if page.video -%}
  <video muted autoplay controls>
    <source src="{{ page.video }}" type="video/mp4">
  </video>
  {%- endif -%}

  {%- if page.figma -%}
  <iframe class="mb2" style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="{{ page.figma }}"
    allowfullscreen>
  </iframe>
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%} -->

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

{% include dot.md %}

<!-- RELATED POST -->
{%- if page.main_tag -%}
{%- if site.posts.size > 0 -%}
<h2 id="blogs-section" class="post-list-heading">{{ page.list_title | default: "Relate Articles" }}</h2>
<ul class="post-list">
  {%- for post in site.posts -%}
  {% if page.tags contains post.main_tag and post.permalink != page.permalink %}
  <li>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>

    {%- if post.description -%}
    <p class="post-meta">
      {{ post.description }}
    </p>
    {%- endif -%}

    <span class="post-meta">
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- if post.date -%}
        {{ post.date| date: date_format }}
        {% else %}
        {{ post.start_date| date: date_format }}
        {%- endif -%}
      </time>
      <span> </span>

      <!-- minute read counter -->
      {% capture words %}
      {{ post.content | number_of_words | minus: 180 }}
      {% endcapture %}
      {% unless words contains "-" %}
      {% assign minutes = words | plus: 180 | divided_by: 180 %}
      • {{ minutes }}
      {% if minutes == 1 %}
      {{ " minute to read" }}
      {% else %}
      {{ " minutes to read" }}
      {% endif %}
      {% endunless %}
    </span>
    {%- if site.show_excerpts -%}
    {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
{%- endif -%}
<!-- RELATED POST -->

{% if page.comments == true %}
<script src="https://utteranc.es/client.js" repo="theachoem/theachoem" issue-term="title" theme="github-light"
  crossorigin="anonymous" async>
  </script>
{% endif %}